@font-face {
  font-family: 'C-prot-regular';
  src: url('./fonts/AvertaStd-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'C-prot-black';
  src: url('./fonts/AvertaStd-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'C-prot-light';
  src: url('./fonts/AvertaStd-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'C-prot-ExtraBold';
  src: url('./fonts/AvertaStd-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'C-prot-Bold';
  src: url('./fonts/AvertaStd-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'C-prot-thin';
  src: url('./fonts/AvertaStd-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,700i');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.contract {
  margin: auto auto !important;
  padding-bottom: 100px !important;
}
.navbar-title-color{
background-image: url(./img/parcacklar-28136.mp4);
}
.sec2 {
  background: rgb(0,0,0);
  background: linear-gradient(315deg, rgba(0,0,0,0.9262079831932774) 54%, rgba(255,255,255,0.9486169467787114) 89%);
  min-height: 700px;
}

.sec3 {
  background: #5a5c5c86;
  min-height: 500px;
}

.sec4 {
  background: #746767a6;
  min-height: 500px;
}

.large-header {
  position: relative;
  width: 100%;

  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  background: rgb(17, 99, 212);
  background: linear-gradient(209deg, rgba(17, 99, 212, 0.8435749299719888) 3%, rgba(126, 35, 25, 0.8127626050420168) 51%, rgba(34, 33, 33, 1) 82%);
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 568px) {
  .demo .main-title {
    font-size: 3em;
  }

  canvas {
    height: 300px;
  }

  .btn-shine {
    font-size: 20px !important;
  }

  .nav-link {
    background-color: #30aacf;
  }

  .nav-link li {
    font-size: 10px;
    width: 120px !important;
  }

  .nav-link a {
    font-size: 16px;
  }

  .card-slider__background {
    height: 100vh !important;
    width: 100% !important;
  }

  .large-header {
    height: 40vh !important;
  }

  .sec2 {
    height: 1400px;
  }

  .card.card0 {
    width: 100% !important;
    margin-top: 130px !important;
  }

  .sec3 {
    height: 1200px;
  }

  .sec4 {

    height: 70vh !important;
  }
}

section {
  position: relative;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  transition: opacity .3s;
}

.btn-shine {
  position: absolute !important;
  top: 100%;
  left: 55%;
  transform: translate(-50%, -100%) !important;
  padding: 66px 66px !important;
  background: linear-gradient(to right, #e6b4b4 20%, #deebc0 50%, #b6c7dd 70%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 62px;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'C-prot-light';
}

@-moz-keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 380px;
  }

  100% {
    background-position: 380px;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 380px;
  }

  100% {
    background-position: 380px;
  }
}

@-o-keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 840px;
  }

  100% {
    background-position: 840px;
  }
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 870px;
  }

  100% {
    background-position: 870px;
  }
}

.arrow {
  width: 5vmin;
  height: 5vmin;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(135deg);
  z-index: 9999 !important;
  margin-top: 560px;
}

.arrow::before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 0.3vmin 0.3vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}

.arrow:after {
  content: "";
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.2vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  transform-origin: 100% 0;
  transition: 0.2s ease;
}

.arrow:hover::after {
  transform: rotate(45deg);
  border-color: orange;
  height: 120%;
}

.arrow:hover::before {
  border-color: orange;
  transform: scale(0.8);
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 50vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.about-card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.about-card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}

.about-card:hover:before,
.about-card:hover:after {
  animation: none;
  opacity: 0;
}

.about-card::before {
  content: "" !important;
  width: 104% !important;
  height: 80% !important;
  border-radius: 8px !important;
  background-image: linear-gradient(var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2) !important;
  position: absolute !important;
  z-index: -1 !important;
  top: -1% !important;
  left: -2% !important;
  animation: spin 2.5s linear infinite !important;
}

.about-card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 50%;
  width: 50%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

.border:hover {
  border: 1px solid #fff;
}

.card {
  background: #ffffff;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 70px 63px -60px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0 {
  background: url("./img/WhatsApp\ Image\ 2023-04-29\ at\ 10.24.11.jpeg") center center no-repeat;
  background-size: 620px;
  margin-top: 50px;
  height: 500px !important;
  width: 400px !important;
}

.card0:hover {
  background: url("./img/WhatsApp\ Image\ 2023-04-29\ at\ 10.24.11.jpeg") left center no-repeat;
  background-size: 600px;
}

.about-cards {
  margin-top: 100px;
  height: 500px !important;
  width: 400px !important;
}

.about-title-span {
  color: #e3a03c;
  font-family: 'C-prot-Bold';
  font-size: 50px;
}

.about-title {
  color: #ffffff;
  font-family: 'C-prot-ExtraBold';
  font-size: 50px;
  border-bottom: 1px solid rgb(78, 188, 221);
}

.about-text {
  font-family: 'C-prot-light';
  font-size: 22px;
  color: #fff;
}

.effect1 {
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 24px;
  position: relative;
  padding: 10px 50px 10px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  /*change scale(3) to scale(1)*/
}

.effect1 .bg {
  background: #e3a03c;
  width: 30px;
  height: 2px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.effect1:hover {
  padding-right: 20px;
  color: #fff;
}
.effect1:hover .bg {
  height: 100%;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.effect1 .bg:before,
.effect1 .bg:after {
  content: '';
  height: 2px;
  width: 10px;
  background: #e3a03c;
  position: absolute;
  right: -2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.effect1 .bg:before {
  bottom: 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.effect1 .bg:after {
  top: 3px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.effect1:hover .bg:before,
.effect1:hover .bg:after {
  right: 0;
}

.effect1:hover .bg:before {
  bottom: 6px;
}

.effect1:hover .bg:after {
  top: 6px;
}

:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.card-slider-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px) {
  .card-slider-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card-slider-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-slider {
  list-style: none;
  position: relative;
}

.card-slider:before {
  content: '';
  display: block;

}

.card-slider__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition:
    filter 200ms linear,
    transform 200ms linear;
  height: 400px;
}

.card-slider:hover .card-slider__background {
  transform: scale(1.05) translateZ(0);
}

.card-slider-grid:hover>.card-slider:not(:hover) .card-slider__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card-slider__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card-slider__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card-slider__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}



.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

.end {
  background: rgb(17, 99, 212);
  background: linear-gradient(90deg, rgba(101, 133, 173, 0.844) 3%, rgba(184, 167, 164, 0.813) 51%, rgb(80, 77, 77) 79%);
}



.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}

.menu-items {
  order: 2;
  display: flex;
}

.logo {
  order: 1;
  font-size: 2.3rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #117964;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 28px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 200px;
    background: #fff;
    height: 100vh;
    width: 100% !important;
    max-width: 100% !important;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2.5rem;
  }

  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked~.logo {
    display: none;
  }
}
main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
main .clip-text {
  text-align: center;
  color: #68d0e0;
}
@supports ((-webkit-background-clip: text) or (background-clip: text)) or (-webkit-background-clip: text) {
  main .clip-text {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(https://media.giphy.com/media/xULW8Fw2ZhznUptrYA/giphy.gif);
    background-size: cover;
    background-position: center;
    font-size: 50px;
  }
}
.last-text{
  color: #fff;
  font-size: 14px;
  display: flex;
  justify-content: center;
}